page-cadastro {
  .item {
    border-bottom: 2px solid darkred !important;
  }

  ion-input {
    color: white
  }

  .botao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 200px;
  }

  .logo {
    margin-bottom: 50px;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
