page-meus-pedidos {
    .item {
        align-content: center
    }
    .ion-content {
        background: #F8F8F8 !important;
    }
    .scroll-content {}
    .ion-card-header {
        font-weight: bold;
    }
}