<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only clear color="light" (click)="adminOptions()">
      <ion-icon name="settings"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-card *ngFor="let pedido of pedidos" style="border-radius: 10px;">
    <ion-card-header icon-left>
      <!-- <ion-icon name="cart"></ion-icon> -->
      Pedido realizado em <strong>{{ pedido.dataPedido | date:'dd/MM/yyyy, HH:mm' }}</strong>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Produtos do Pedido</strong></p>
      <ion-item *ngFor="let produto of pedido.itens">
        <p>Nome Produto: {{produto.nomeProd}}</p>
        <p>Quantidade: {{produto.quantidade}}</p>
        <p>Produto ID: {{produto.produtoId}}</p>
        <p>Observaçoes: {{produto.observacoes}}</p>
      </ion-item>

      <p>Usuário ID: <strong>{{pedido.usuarioId}}</strong></p>
      <p>Status: <strong>{{pedido.status}}</strong></p>
      <!-- <strong>Quantidade Total itens: <strong>{{ contaItem(item) }}</strong></p> -->
      <p>Valor total: <strong> {{ pedido.valorTotal }}</strong></p>
      <p>Forma de Pagamento: <strong>{{pedido.formaPagamento}}</strong></p>
      <p>Tempo para Entrega: <strong> {{ pedido.tempoEntrega }}</strong></p>
      <div>
        <ion-row class="botoes">
          <button ion-button>Aceitar</button>
          <button ion-button>Recusar</button>
          <button ion-button>Chat</button>
          <!-- <button (click)="clienteInfo(pedido.usuarioId)" ion-button>Cliente</button> -->
        </ion-row>

      </div>
    </ion-card-content>
  </ion-card>
  <div>
    <ion-item no-lines style="background-color: transparent !important;"></ion-item>
    <ion-item no-lines style="background-color: transparent !important;"></ion-item>
  </div>
</ion-content>
<!-- <tab [pagina]="'Pedidos'"></tab> -->