<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produto</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="salvar()">
        Salvar
      </button>
      <button *ngIf="cliente._id" ion-button icon-only>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Nome do Cliente</ion-label>
      <ion-input [(ngModel)]="cliente.nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="number" [(ngModel)]="cliente.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Ativo</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.ativo"></ion-input>
    </ion-item>
    <ion-item text-center>
    </ion-item>
    <ion-item *ngIf="cliente.foto">
      <img [src]="cliente.foto">
    </ion-item>
  </ion-list>
</ion-content>