<ion-header>
    <ion-navbar color="primary">
        <ion-title>Meu Carrinho</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <div class="valor">
        <h2>{{ carrinho.valorTotal | real }}</h2>
        <small>seu pedido atual</small>
    </div>
    <div class="botao-finalizar">
        <div class="botao" tappable (click)="finalizarPedido()">
            Finalizar Pedido
        </div>
    </div>

    <div class="entrega">
        <ion-item no-lines style="border-radius: 10px;">
            <ion-label class="entregaLabel" no-lines>
                Entregar em:
            </ion-label>
            <ion-select [(ngModel)]="carrinho.enderecoEntregaId" cancelText="Cancelar" okText="Ok">
                <ion-option value="{{ item._id }}" *ngFor="let item of enderecos">
                    {{ item.rua }}, {{ item.numero }}, {{ item.bairro }}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div>
        <ion-item no-lines style="border-radius: 10px;">
            <ion-label class="entregaLabel" no-lines>
                Forma de Pagamento:
            </ion-label>
            <ion-select [(ngModel)]="carrinho.formaPagamento" cancelText="Cancelar" okText="Ok">
                <ion-option value="{{ item }}" *ngFor="let item of formaPagamento">
                    {{ item }}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div class="produtos">
        <div class="produto" *ngFor="let item of carrinho.itens" tappable>
            <div class="imagem" [ngStyle]="{ 'background-image': 'url(' + item.Produto.foto + ')' }"></div>
            <div class="titulo">{{ item.Produto.nome }}</div>
            <div class="descricao">{{ item.Produto.descricao }}</div>
            <div class="preco">{{ item.Produto.preco | real }}</div>
            <div class="quantidade">
                <quantidade [produto]="item.Produto" (quantidadeAlterada)="quantidadeAlterada(item.Produto, $event)">
                </quantidade>
            </div>
            <ion-item>
                <ion-label floating>Observações</ion-label>
                <ion-input [(ngModel)]="item.Observacoes" type="text"></ion-input>
            </ion-item>
        </div>
    </div>
    <div>
        <ion-item no-lines style="background-color: transparent !important;"></ion-item>
        <ion-item no-lines style="background-color: transparent !important;"></ion-item>
    </div>
</ion-content>
<tab [pagina]="'Meu Carrinho'"></tab>